.svn
target
dependency-reduced-pom.xml
.editorconfig
.idea
.classpath
.project
.settings
*.iml
*.ipr
*.iws
*.bin
nbactions.xml
nb-configuration.xml
*.DS_Store
*.tmp-inception
*.snap
.*.swp

tika-pipes/tika-pipes-plugins/tika-pipes-ignite/ignite
