body {
    font-family: Open Sans, sans-serif;
    background: #f8f8f8;
    font-size: 16px;
}

body, html, #content {
    height: 100%;
}

#rightwithnav {
    float: right;
    width: 350px;
    overflow-x: hidden;
    overflow-y: hidden;
}

#right {
    position: absolute;
    overflow-x: hidden;
    top: 41px;
    bottom: 0;
    right: 0;
    width: 349px;
    background: #fff;
    border-left: 1px solid #ccc;
    border-top: 1px solid #ddd; 
}

#rightContent {
    margin-top: 20px;
    margin-left: 10px;
}

#searchform {
}

#results {
}

#resultList {
    list-style-type: none;
    margin: 0 0 0 5px;
}

.result {
    left: 20px;
}

.httpMethodSearchResult {
    width: 43px;
    display: inline-block;
}

.httpMethodSearchResult span {
    margin: 0;
}

#navigation {
    padding-left: 10px;
    border-left: 1px solid #ccc;
    background: #fff;
}

#left {
    position: absolute;
    overflow-x: hidden;
    top: 42px;
    bottom: 0;
    left: 0;
    right: 350px;
}

#leftwithnavbar {
    overflow-y: hidden;
    overflow-x: hidden;
}

#contentContent {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 10px 25px 10px 10px;
}

#searchResultContainer {
    overflow-y: auto;
    overflow-x: hidden;
}

#mainList {
    list-style-type: none;
}

.searchInput {
    width: 280px;
}

.tagInput {
    margin-bottom: 15px;
}

.searchLabel {
    margin-left: auto;
    margin-right: auto;
}

.searchList {
    list-style-type:none;
    margin-left: 0;
    padding: 0;
}

.searchList.hierarchical {
    margin-left: 10px;
}

#expandCollapse {
    position: fixed;
    right: 400px;
    z-index: 4;
    cursor: pointer;
}

#expandCollapse span.icon-stack {
    width: 1em;
    font-size: 18px;
}

.text-gray {
    color: #f8f8f8;
}

i.methodIcon {
    margin-left: -1em;
    margin-right: 0.5em;
    font-size: 1.2em;
    width: 1.4em !important;
    color: #ed003b;
}

.methodTitle {
    display: inline;
}

i.warningIcon {
    color: #da9a00;
}

i.failedIcon {
    color: #ed003b;
}

i.licenceIcon {
    color: #999;
}

h3 {
    color: #0077ed;
    font-family: "Droid Sans", serif;
    font-size: 1.4em;
    font-weight: 400;
}

h4 {
    color: #00b2ed;
    font-family: "Droid Sans", serif;
    font-size: 18px;
    font-weight: 400;
}

.tag {
    background: #aaa;
    display: inline-block;
    color: white;
    padding: 0 4px;
    border-radius: 15px 4px 4px 15px;
    font-size: 70%;
    margin-right: 5px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.tag:hover {
    background: #00b2ed;
    cursor: pointer;
}

.tagSelected {
    background: #00b2ed;
}

p.methodDescription {
    font-size: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    /*text-align: justify;*/
}

.methodCall {
    font-family: "Droid Sans Mono", monospace;
    font-size: 15px;
    border: 1px solid #aaa;
    padding: 15px 10px;
    border-radius: 4px;
    overflow-x: auto;
    background: #f4f4f4;
    line-height: 2;
}

.methodBaseUrl {
    color: #888;
}

.httpMethod {
    padding: 0 4px;
    line-height: 1.4em;
    border-radius: 4px;
    color: #fff;
    text-shadow: 0 1px 4px #592d00;
    margin-right: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3) inset;
    border-bottom: 2px solid;
    display: inline-block;
}

.httpMethod.small {
    border-radius: 2px;
    line-height: 1.4em;
    border: none;
    opacity: 0.8;
    padding: 0 2px;
    text-shadow: 0 1px 1px #592d00;
    font-weight: 100;
}

.httpMethod.GET {
    background: #61c000;
    border-bottom-color: #77ed00;
}

.httpMethod.GET.httpMethodSelection:hover {
    background: #61c000;
    border-bottom-color: #77ed00;
}

.httpMethod.HEAD {
    background: #cccc00;
    border-bottom-color: #cccc00;
}

.httpMethod.HEAD.httpMethodSelection:hover {
    background: #cccc00;
    border-bottom-color: #cccc00;
}

.httpMethod.POST {
    background: #003bed;
    border-bottom-color: #9ab1f8;
}

.httpMethod.POST.httpMethodSelection:hover {
    background: #003bed;
    border-bottom-color: #9ab1f8;
}

.httpMethod.PUT {
    background: #00b2ed;
    border-bottom-color: #9ae0f8;
}

.httpMethod.PUT.httpMethodSelection:hover {
    background: #00b2ed;
    border-bottom-color: #9ae0f8;
}

.httpMethod.DELETE {
    background: #ed3b00;
    border-bottom-color: #f8b29a;
}

.httpMethod.DELETE.httpMethodSelection:hover {
    background: #ed3b00;
    border-bottom-color: #f8b29a;
}

.httpMethod.httpMethodSelection {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

.httpMethod.httpMethodSelection.disabled {
    background: #aaa;
    border-bottom-color: #ccc;
}

.methodCall.GET {
    background: #e7fdf2;
}

.methodCall.HEAD {
    background: #FFFFC3;
}

.methodCall.POST {
    background: #e7edfd;
}

.methodCall.PUT {
    background: #e7f8fd;
}

.methodCall.DELETE {
    background: #fdede7;
}

.methodParams, .statusCodes {
    font-size: 90%;
    margin-left: 10px;
}

.methodParams tr td {
    padding-bottom: 8px;
    vertical-align: top;
}

.returnsBodyContainer {
    margin-left: 10px;
}

.parameterContainer {
    display: inline-block;
    min-width: 200px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.parameterName {
    font-weight: 600;
    font-size: 90%;
    background: #eee;
    padding: 2px 8px;
    border-radius: 4px;
}

.parameterTypeAndValue {
    width: 95%;
    position: relative;
    vertical-align: super;
    display: block;
    margin-left: 8px;
    margin-top: -2px;
}

.parameterType {
    color: #777;
    font-weight: 100;
    font-size: 80%;
    font-style: italic;
    width: 5em;
    display: inline-block;
}

.propertyComment {
    font-size: 80%;
    vertical-align: text-bottom;
    display: inline;
    margin-left: 10px;
    font-style: italic;
    color: #559988;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}

.propertyComment:before {
    content: "// ";
    color: #559955;
    font-weight: 300;
}

.parameterDefaultValue {
    color: #777;
    font-size: 80%;
    font-weight: 200;
}

.parameterDefaultValue .default {
    color: #222;
    font-weight: 400;
}

.methodCall .paramName {
    border-radius: 3px;
    font-weight: bold;
    border-left: 2px solid black;
    padding-left: 2px;
    border-right: 2px solid black;
    padding-right: 2px;
    background: #eee;
    display: inline-block;
    line-height: 1;
}

.methodCall.GET .paramName {
    color: #005e2f;
    background: #cffce5;
}

.methodCall.HEAD .paramName {
    color: #5E5A00;
    background: #F3F3AE;
}

.methodCall.PUT .paramName {
    color: #005977;
    background: #CDF2FD;
}

.methodCall.POST .paramName {
    color: #001E6F;
    background: #DCE4F8;
}

.methodCall.DELETE .paramName {
    color: #571800;
    background: #F8DFD6;
}

.valueMissing {
    color: #ddd;
}

.mediaType {
    display: inline;
    color: black;
    padding: 2px 4px;
    border-radius: 4px 4px;
    border: 1px solid #aaa;
    font-size: 70%;
}

.mediaTypeContainer {
    display: inline-block;
}

.gzip {
    display: inline-block;
    background: #666;
    padding: 0 4px;
    border-radius: 4px 4px;
    border: 1px solid #aaa;
    font-size: 10px;
    color: white;
}

.gzip:before {
    content: "GZIP";
}

.typeValueContainer {
    margin: 10px 10px 20px 0;
    position: relative;
    border: 1px solid #aaa;
    border-radius: 4px;
    background: #f2f2f2;
    padding: 0.3em 0.5em 0.3em;
    font-family: "Droid Sans Mono", monospace;
    overflow-x: auto;
}

.searchMathContainer {
    font-size: 70%;
    text-align: right;
    width: 150px;
    padding: 0 15px;
    display: block;
}

.summaryBaseResource {
    font-size: 70%;
    font-weight: 600;
    color: black;
}

.summaryMethodUrl {
    font-size: 65%;
    word-break: break-all;
}

.hierarchy-toggle {
    cursor: pointer;
    padding-left: 5px;
    padding-right: 3px;
    margin-left: -8px;
}

hr {
    clear: both;
    float: none;
    width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.25), rgba(0,0,0,0));
    border-bottom: 1px solid white;
}

hr.interfaceSeparator {
    margin-top: 40px;
    margin-bottom: 40px;
}

span.ui-match {
    background: #f3ff17;
    border-radius: 3px;
    padding: 0;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: -2px;
    margin-right: -2px;
    display: inline;
    box-shadow: 0 1px 4px rgba(0,0,0,0.5);
    line-height: 1.3;
}

ul.toContainer {
    list-style-type:none;
}

.toContainer .parameterName {
    font-size: 90%;
    padding: 0 4px;
    vertical-align: top;
}

.toContainer .parameterType {
    font-weight: 100;
    font-size: 90%;
    vertical-align: bottom;
    display: inline;
    margin-left: 4px;
    font-style: italic;
    color: #777;
}

.toContainer .propertyComment {
    font-size: 80%;
    vertical-align: text-bottom;
    display: inline;
    margin-left: 10px;
}

.highlightJsonRecursive {
    background: rgba(255,255,255, 0.6);
    padding-left: 4px;
    margin-left: -4px;
    margin-top: -3px;
    margin-bottom: -4px;
    padding-top: 2px;
    padding-bottom: 3px;

    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.highlightJsonRecursive>span:first-child, .highlightJsonRecursive>span:last-child {
    color: #ff7650;
    font-weight: bold;
}

.togglePropertyComments {
    float: right;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    color: #888;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.togglePropertyComments:hover {
    text-decoration: underline;
}

.navbartop {
    margin-right: -30px;
}

#footer {
    background-color: #eee;
}

.deprecated {
    text-decoration: line-through;
}

.nav .activeView {
    font-weight: bold;
}

.container .nav {
    margin: 0;
}

.warningsList {
    list-style-type: none;
    margin: 0;
}

.warningsList h3 {
    color: #333;
    font-size: 1.1em;
    font-weight: 100;
    border-bottom: 1px solid #aaa;
    width: 100%;
    display: inline-block;
    line-height: 1.1em;
}

.warningsList > li {
    padding: 0 5px;
    margin-bottom: 15px;
    background: #fdfdfd;
    border: 1px solid white;
}

.warningsListContent {
    margin-left: 0;
    list-style-type: none;
    font-size: 0.9em;
}

.warningsListContent p {
    font-size: 80%;
    font-weight: 100;
}

.warningsListContent p b {
    font-weight: 400;
}

.notice {
    padding: 4px 10px;
    font-weight: 100;
    color: white;
    font-size: 0.8em;
    text-align: center;
}

.notice.freeversion {
    background: #2190ff;
}

.notice.invalidlicence {
    background: #ff332f;
}

.notice a {
    text-decoration: underline;
    color: white;
}

.parameterType .btn-group {
    font-family: "Droid Sans Mono", monospace;
    font-size: 90%;
    line-height: normal;
    vertical-align: text-bottom;
    max-width: 95%; /*wrapping*/
}

.parameterType .btn-group>.btn {
    font-family: "Droid Sans Mono", monospace;
    line-height: normal;
    padding: 0 6px;
    overflow: visible;
    margin-top: 0;
    margin-bottom: 2px;
    text-shadow: none;
    outline: 0;
    box-shadow: none;
    background: #f2f2f2;
    float: left; /*wrapping*/
}

.parameterType .btn-group>.btn:before {
    content: open-quote;
}

.parameterType .btn-group>.btn:after {
    content: close-quote;
}

.parameterType .btn-group>.btn:hover {
    border-color: #444;
    background-color: #ddd;
}


.parameterType .btn-group>.btn.active {
    background: #777; /* #00b2ed; */
    color: white;
    border-color: #444;
}

.parameterType .btn-group>.btn:active {
    border-color: #444;
    background-color: #bbb;
}

.parameterType .btn-group>.btn:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-right-radius: 3px;
}

.parameterType .btn-group>.btn:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-left-radius: 3px;
}

.parameterItem {
    white-space: nowrap;
}

a.recursionLink {
    color: #005580;
}

a.recursionLink:hover {
    text-decoration: none;
    color: #0088cc;
}

.treeCollapse {
    position: fixed;
    top: 45px;
    right: 10px;
    float: right;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    font-size: 12px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    opacity: 0.5;
}